<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.ShowFilledPreview</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowFilledPreview</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/ShowFilledPreview/master/ShowFilledPreview.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/ShowFilledPreview</string>
	<key>productReleaseNotes</key>
	<string>Added alpha option: Glyphs.defaults["com.mekkablue.ShowFilledPreview.opacity"]=0.7 (thx @NicholasSloan)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Rainer Erich Scheichelbauer, 2014-2016</string>
	<key>NSPrincipalClass</key>
	<string>ShowFilledPreview</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
